a.router-link-exact-active {
    font-weight: bold;
}

.message {
    padding: 0.5rem 0.8rem;
}

.message.success {
    color: green;
    background: #efe;
}

.message.error {
    color: red;
    background: #fee;
}

.sql-hl-string {
    color: red;
}

.sql-hl-keyword {
    font-weight: bold;
    color: navy;
}

.sql-hl-number {
    color: #007F7F;
}

table.sticky thead th {
    position: sticky;
    top: 0;
}
