.mt-1 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.ml-1 {
    margin-left: 0.5rem;
}

.ml-2 {
    margin-left: 1rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.full-width {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.no-border {
    border: 0;
}

.no-padding {
    padding: 0;
}

.no-background {
    background: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.vertical-align-middle {
    vertical-align: middle;
}
